<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163578232522-5jm4hith2pr8nv0ebuqkc0jv65l4hgtp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163578232522-5jm4hith2pr8nv0ebuqkc0jv65l4hgtp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>163578232522-2t79luslfhhnlq47hnordkb65k8ir26g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4j1piGfvohkITmfzXTxr51yzDxqu3Wzo</string>
	<key>GCM_SENDER_ID</key>
	<string>163578232522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalAppCu</string>
	<key>PROJECT_ID</key>
	<string>bizconnect-f788a</string>
	<key>STORAGE_BUCKET</key>
	<string>bizconnect-f788a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163578232522:ios:1b6ee79cb4e025c84c3e33</string>
</dict>
</plist>